.card {
    @apply relative w-[200px] h-[250px] overflow-hidden;
}

.card-media {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.indicator {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex;
    gap: 10px; */
}
.indicator-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    border: none;
    border-radius: 50%;
  }
  
  .indicator-button.active {
    background-color: #007bff;
  }

  .thin-line-through {
    text-decoration: line-through;
    text-decoration-thickness: 1px;  
  } 

  .group-hover-effect {
    padding: 1rem;
    transition: transform 0.5s;
  }

  .group:hover .group-hover-effect {
    transform: translateY(0.25rem);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }